/* Product Card */
.product-card{
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}
.product-card a{
    text-decoration: none;
}
.product-card .stock{
    position: absolute;
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
}
.product-card .out-of-stock{
    position: absolute;
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
}
.product-card .product-card-img{
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.product-card .product-card-img img{
    width: 100%;
}
.product-card .product-card-body{
    padding: 10px 10px;
}
.product-card .product-card-body .product-brand{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #937979;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .product-name{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .selling-price{
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-card .product-card-body .original-price{
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-card .product-card-body .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 12px;
    margin-top: 10px;
}

.btn1:hover {
    background-color: #004d65; 
    color: white; 
    cursor: pointer; 
}

.product-card-img img {
    width: 100%; 
    height: auto; 
    max-height: 200px; 
    object-fit: cover;
}

.product-card-img {
    width: 100%; 
    height: 200px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center;
}
.stock {
top: 5px; 
left: 20px; 
background-color: rgba(76, 175, 80, 0.8); 
} 

.out-of-stock {
top: 5px; 
left: 20px; 
background-color: rgba(255, 0, 0, 0.8); 
}


.search-container {
display: flex;
align-items: center;
margin-bottom: 40px; 
}

#search-input {
width: 100%; 
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 1em;
}

#search-button {
background-color: #004d65;

color: white; 
border: none;
padding: 10px;
border-radius: 5px; 
cursor: pointer; 
margin-left: 10px; 
}

#search-button i {
font-size: 1em;
}


.filter-container {
display: flex; 
justify-content: space-between; 
margin-top: 5px; 
margin-bottom: 40px; 
}

.price-filter, .category-filter {
display: flex; 
align-items: center; 
}

#min-price, #max-price, #category-select {
padding: 5px; 
border: 1px solid #004d65; 
border-radius: 5px; 
margin-right: 10px; 
}

#filter-button, #category-filter-button {
background-color: #004d65; 
color: white; 
border: none; 
padding: 5px 20px; 
border-radius: 5px; 
cursor: pointer; 
}

.text-center {
text-align: center; 
}

.lead {
font-size: 1.25rem; 
margin-bottom: 20px;
}  
/* Product Card End */

.img-carrucel{
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}